.gallery-container{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 30px;
}

.gallery-itme{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 500px;
    padding: 15px;
    border-radius: 20px;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    color: #fff;
    text-decoration: none;
}

.gallery-itme:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--ion-background-color);
    top: 0;
    left: 0;
    opacity: .6;
    z-index: -1;
}

.gallery-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.gallery-title{
    margin: 5px 0;
    font-size: 23px;
}

.gallery-description{
    margin: 5px 0;
    font-size: 14px;
}

