
.gallery-container{
    max-width: 500px;
}
.page-bottom-wrapper{

}

.galerie-header{
    min-height: 215px;
    position: relative;
    /*max-width: 500px;*/
    overflow: hidden;
    padding: 10px;
}

.galerie-header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), #151515);
    top: 0;
    left: 0;
    z-index: -1;
}

.galerie-previeImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galerie-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 60px 0;
}

.galerie-img-wrapper img {
    width: calc(33.33% - 10px);
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}


