/* -------------------- GALLERIE DETAIL PAGE --------------------*/
.gallery-container{
    max-width: 500px;
}

.galerie-header{
    min-height: 230px;
    position: relative;
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.galerie-header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), var(--ion-background-color));
    top: 0;
    left: 0;
    z-index: -1;
}

.galerie-header .gallery-owner{
    font-size: 16px;
}

.galerie-header .gallery-title{
    font-size: 30px;
}

.galerie-header .gallery-descr{
    font-size: 14px;
    opacity: .5;
}

.galerie-previeImg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galerie-img-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 16px 0;
}

.galerie-img-wrapper img {
    width: calc(33.33% - 4px);
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

/* -------------------- MENU MODAL --------------------*/

.gallery-menu-modal {
    --width: 300px;
    --max-width: 70%;
    --height: 100%;
    --right: 0;
    display: flex;
    justify-content: flex-end;
}
