/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Host Grotesk", serif;
    font-weight: 300 !important;
    letter-spacing: 1px
}

:root {
    --ion-color-primary: #8D3948;
    --ion-color-primary-rgb: 141, 57, 72;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #7c323f;
    --ion-color-primary-tint: #984d5a;

    --ion-color-secondary: #632125;
    --ion-color-secondary-rgb: 99, 33, 37;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #571d21;
    --ion-color-secondary-tint: #73373b;

    --ion-background-color: #151515 !important;
    --ion-background-color-rgb: 21, 21, 21;

    --ion-text-color: #fff;
    --ion-text-color-rgb: 255, 255, 255;

    --light-BG: #222125;
    --gradient: linear-gradient(160deg, #73373b, #571d21);

}

ion-label {
    font-size: 10px;
}

/*#-----------------------------------------*/
/*
.header-wrapper{
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 150%;
    top: -20%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%);
}

.header-top{
    position: absolute;
    background: #ffffff03;
    height: auto;
    width: 100%;
    aspect-ratio: 1 / 1;
    top: -50%;
    left: 0;
    border-radius: 100%;
}

*/

.page-bottom {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.page-bottom > .form-container {
    width: 100%;
}

/*#-----------------------------------------*/

:root {
    --color-primary: #6b6bc1;
}

* {
    box-sizing: border-box;
}

a.container {
    display: block;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--color-primary);
}


svg {
    width: auto;
    overflow: visible;
    transition: all 0.3s ease-in-out;
}

g.outer {
    fill: var(--color-primary);
    transition: fill 0.5s ease-in;
}

g.outer,
g.mid,
g.inner,
g.lens-flare {
    transform-origin: 50% 50%;
}

g.mid {
    fill: #4c4c91; /* darken(var(--color-primary), 25%) */
    transition: fill 0.5s ease-in;
}

g.mid path {
    stroke: #4c4c91; /* darken(var(--color-primary), 25%) */
}

g.inner {
    stroke-width: 20;
    fill: #4c4c91; /* darken(var(--color-primary), 25%) */
    transition: stroke-width 0.5s ease-in, fill 0.5s ease-in;
}

g.lens-flare {
    opacity: 0.6;
    transition: opacity 1s ease-in;
}

a:hover g.outer {
    fill: #7b7bd1; /* darken(var(--color-primary), 10%) */
    animation: rotate 0.5s ease-in-out 0.3s, scale 0.3s ease-in-out;
}

a:hover g.mid {
    animation: scale 0.4s ease-in-out 0.2s;
    fill: #8c8ce1; /* lighten(var(--color-primary), 20%) */
}

a:hover g.inner {
    animation: scale-inner 0.8s ease-in-out 0.3s;
    fill: #9c9cf1; /* lighten(var(--color-primary), 30%) */
    stroke-width: 25;
}

a:hover g.lens-flare {
    animation: scale-flare 1s ease-in-out 0.3s;
    opacity: 0.8;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    70% {
        transform: rotate(45deg);
    }
    90% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale-inner {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1.2);
    }
}

@keyframes scale-flare {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(0.95);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}


/*#-----------------------------------------*/


ion-fab-button {
    --border-radius: 15px;
}

/* ----- FORMULAR -----*/

.input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(80%) scale(1);
    transform: translateY(80%) scale(1);
}

.label-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(50%) scale(0.75);
    transform: translateY(50%) scale(0.75);
    max-width: calc(100% / 0.75);
}

.form-container {
    display: flex;
    flex-direction: column;
    /*max-width: 500px;*/
    gap: 20px;
    margin: 40px 0;
    align-items: center;
}


.form-container > * {
    width: 100%;
}

.input-wrapper {
    padding: 0 10px !important;
}

.form-container .item {
    border-radius: 50px;
    --background: #1e1e1e;
}

.tumb-label {
    margin-bottom: 0px;
}

#imagePreview_label {
    height: 120px;
    background: #1e1e1e;
    cursor: pointer;
    border-radius: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878787;
    transition: all .3s ease-in-out;
}

.imagePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 20px;
}

#imagePreview_label.hasImg .imagePicker {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}


#imagePreview_label:hover {
    background: #272727;
}

#imagePreview_label ion-icon {
    font-size: 40px;
}

#imagePreview_label.hasImg {
    position: relative;
    height: 215px;
    width: 100%;
    background-size: 100%;
    overflow: hidden;
}

#imagePreview_label.hasImg:hover {
    filter: brightness(0.85);
}

.imgPickerLabel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.removeImage {
    cursor: pointer;
}

.form-container ion-button {
    margin-top: 30px;
    max-width: 250px;
    height: 50px;
}

/* --------------------*/

ion-segment-view {
    height: max-content;
}

.task-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background: var(--light-BG);
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 0px 15px;
    justify-content: space-between;
}

.task-def {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.task-item ion-icon {
    color: #8D3948 !important;
}

.task-item .task-item-check {
    color: green !important;
}

.item-trash {
    cursor: pointer;
}

h1.pageTitle {
    text-transform: uppercase;
    text-align: center;
}

/*-------------------------------------------------*/
ion-toolbar ion-title {
    letter-spacing: 3.5px;
    text-align: center;
}

/*-------------------------------------------------*/
img.join-galerie-previeImg {
    max-height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

/*-------------------------------------------------*/
.lightbox-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: 22px;
    position: absolute;
    width: 100%;
    top: 0;
    align-items: center;
}

.lightbox-header span {
    display: flex;
    gap: 20px;
}

/*
.lightbox-header ion-icon{
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.lightbox-header ion-icon:hover{
    color: var(--ion-color-primary);
}*/

.lightbox-header:before {
    content: "";
    background: linear-gradient(180deg, #0000006b, transparent);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
}

.modal-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.lightbox-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    align-items: center;
}

/*-------------------------------------------------*/
.qr-code-image {
    width: 200px;
    border-radius: 20px;
    text-align: center;
}

.qr-image-wrapper {
    display: flex;
    justify-content: center;
    margin: 20px;
}

/*-------------------------------------------------*/

@media only screen and (min-width: 768px) and (min-height: 768px) {
    :host {
        --width: 90vh;
        --height: 90vh;
    }
}

