/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ //#A23347*/

@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    font-family: "Host Grotesk", serif;
    font-weight: 300 !important;
    letter-spacing: 1px
}

:root {
    --ion-color-primary: #8D3948;
    --ion-color-primary-rgb: 141, 57, 72;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #7c323f;
    --ion-color-primary-tint: #984d5a;

    --ion-color-secondary: #632125;
    --ion-color-secondary-rgb: 99, 33, 37;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #571d21;
    --ion-color-secondary-tint: #73373b;

    --ion-background-color: #121212 !important;
    --ion-background-color-rgb: 21, 21, 21;

    --ion-text-color: #fff;
    --ion-text-color-rgb: 255, 255, 255;

    --light-BG: #1c1c1c;
    --ion-color-success: #00D1B8;

    --rounded-border: 20px;
    --round-border: 50px;
    --prew-img-height: 230px;

    --font-xxs: 12px;
    --font-xs: 14px;
    --font-sm: 16px;
    --font-lg: 22px;
    --font-xl: 25px;
    --font-xxl: 40px;


}


ion-label {
    font-size: var(--font-xxs);
}

/*---------------------------------------*/
.no-content {
    font-size: var(--font-xxl);
    max-width: 70%;
    color: var(--light-BG);
}

.no-content p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 400 !important;
}

/*---------------------------------------*/
.page-bottom {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.page-bottom > .form-container {
    width: 100%;
}


/*-----------------------------------------*/
ion-fab-button {
    --border-radius: var(--rounded-border);
}

ion-fab{
    scale: 1;
    transition: all .2s ease-in-out;
}

ion-fab.hide-btn {
    scale: 0 !important;
}
/* ----- FORMULAR -----*/

.input-label-placement-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(80%) scale(1);
    transform: translateY(80%) scale(1);
}

.label-floating.sc-ion-input-md-h .label-text-wrapper.sc-ion-input-md {
    -webkit-transform: translateY(50%) scale(0.75);
    transform: translateY(50%) scale(0.75);
    max-width: calc(100% / 0.75);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
    align-items: center;
}


.form-container > * {
    width: 100%;
}

.input-wrapper {
    padding: 0 10px !important;
}

.form-container .item {
    border-radius: var(--rounded-border);
    --background: var(--light-BG);
}

.tumb-label {
    margin-bottom: 0px;
}

#imagePreview_label {
    height: 120px;
    cursor: pointer;
    border-radius: var(--rounded-border);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #878787;
    transition: all .3s ease-in-out;
    background: var(--light-BG) center center;
}

.imagePicker {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: var(--rounded-border);
}

#imagePreview_label.hasImg .imagePicker {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
}

#imagePreview_label:hover {
    background: #272727;
}

#imagePreview_label ion-icon {
    font-size: var( --font-xxl);
}

#imagePreview_label.hasImg {
    position: relative;
    height: 215px;
    width: 100%;
    background-size: 100%;
    overflow: hidden;
}

#imagePreview_label.hasImg:hover {
    filter: brightness(0.85);
}

.imgPickerLabel {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.removeImage {
    cursor: pointer;
}

.form-container ion-button {
    margin-top: 30px;
    max-width: 250px;
    height: 50px;
}

.create-gallery-form.form-container{
    margin-top: 0;
}

/* ---------- TASK ITEM ---------- */


.task-item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background: var(--light-BG);
    margin-bottom: 5px;
    border-radius: var(--rounded-border);
    padding: 0px 15px;
    justify-content: space-between;
    text-decoration: none;
    color: #fff;
}

.task-def {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}
.task-def p{
    hyphens: auto;
    max-width: 90%;
}

.task-item ion-icon {
    font-size: 20px;
    color: var(--ion-color-primary) !important;
}


.task-item .task-item-check.task-done {
    color: #00D1B8 !important;
}

.task-item .task-item-check.task-undone {
    color: #0b0b0b !important;
}

.item-trash {
    cursor: pointer;
}

.task-manager-container {
    display: flex;
    flex-direction: column;
    height: 75%;
}

.task-manager-title{
    padding: 0 16px;
}

.task-manager-container  ion-input{
    background: var(--light-BG);
}

.addTaskBtn {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    font-size: var(--font-lg) !important;
    background: var(--ion-color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*-------------------------------------------------*/
h1.pageTitle {
    text-transform: uppercase;
    text-align: center;
}

ion-header {
    box-shadow: none !important;
}

ion-toolbar{
    --background: transparent;
}

ion-toolbar ion-title {
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

/*-------------------------------------------------*/
img.join-galerie-previeImg {
    max-height: 230px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--rounded-border);
}

/*-------------------------------------------------*/
.galleryTopBar {
    display: flex;
    padding: 10px;
    justify-content: end;
    font-size:var(--font-lg);
    width: 100%;
}

.galleryTopBar ion-icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.galleryTopBar ion-icon:hover {
    color: var(--ion-color-primary);
}

/*-------------------------------------------------*/
.taskTopBar {
    padding: 10px;
    font-size: var(--font-lg);
    width: 100%;
    display: flex;
}

.taskTopBar ion-icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.taskTopBar ion-icon:hover {
    color: var(--ion-color-primary);
}

/*-------------------------------------------------*/
.lightbox-header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    font-size: var(--font-lg);
    position: absolute;
    width: 100%;
    top: 0;
}

.lightbox-header span {
    display: flex;
    gap: 20px;
}

.lightbox-header ion-icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.lightbox-header ion-icon:hover {
    color: var(--ion-color-primary);
}

.lightbox-header:before {
    content: "";
    background: linear-gradient(180deg, #0000006b, transparent);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 200%;
}

.modal-content {
    display: flex;
    height: 100%;
    align-items: center;
}

.image-container {
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
}

.image-container-wrapper {
    width: 100%;
    height: 100%;
}

.lightbox-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px;
    align-items: center;
}

/*-------------------- QR CODE --------------------*/
.qr-code-image {
    width: 200px;
    border-radius: var(--rounded-border);
    text-align: center;
}

.qr-image-wrapper {
    display: flex;
    justify-content: center;
    min-width: 40%;
    max-width: 50%;
}

.qr-image-top {
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.qr-image-content {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: space-between;
}

.qr-image-content p {
    margin-top: 0;
}

/*-------------------------------------------------*/
ion-modal, ion-alert{
    backdrop-filter: blur(5px);
}

ion-modal.share-modal {
    --height: 800px;
}

ion-modal.task-manager-modal {
    --height: 100%;
}

ion-modal.action-modal{
    --border-radius: var(--rounded-border);
}

.action-modal-title{
    text-align: center;
    border-bottom: 1px solid var(--light-BG);
    font-size: var(--font-lg);
}

/*-------------------------------------------------*/
.form-container-row {
    display: flex;
    justify-content: space-between;
}

/*-------------------------------------------------*/
.customSpinner {
    width: 100%;
    padding: 20px;
    margin: 20px;
}

/*-------------------------------------------------*/
ion-tab-bar {
    height: 45px;
    box-shadow: 0px -6px 26px rgba(0, 0, 0, 0.3);
}

/*-------------------------------------------------*/
.sign-txt {
    font-size: var(--font-xxs);
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    margin-top: 0px;
}

.sign-txt a {
    opacity: 1;
    text-decoration: none;
}

/* ---------------------- PROFILE ---------------------- */
.profile-header {
    position: relative;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin:  16px;
    border-radius: var(--rounded-border);
    overflow: hidden;
}

.profile-header:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--ion-background-color);
    top: 0;
    left: 0;
    opacity: .65;
    z-index: -1;
}

.profile-settings-wrapper {
    background: var(--light-BG);
    border-radius: var(--rounded-border);
    overflow: hidden;
}

.profile-settings-wrapper ion-item {
    --background: var(--light-BG);
}

.profile-header .placeholder-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.profile-name{

}

.profile-mail{

}
/*-------------------------------------------------*/

ion-modal.modal-dialog {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal.modal-dialog .form-container {
    margin: 0;
}

/*----------------- SEGMENTE -----------------*/
.custom-segment-container {
    display: flex;
    position: relative;
    background: var(--light-BG);
    border-radius: var(--rounded-border);
    margin: 10px 0 0 0 ;
    overflow: hidden;
}

.custom-segment-button ion-text{
    text-transform: uppercase;
    font-size: var(--font-xxs);
}

.custom-segment-button {
    padding: 8px;
    width: 50%;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    border-radius: var(--rounded-border);
    position: relative;
    z-index: 1;
}

.custom-segment-button.active {
    color: var(--ion-text-color);
}

.custom-segment-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: var( --ion-color-primary);
    transition: transform 0.3s ease;
    z-index: 0;
    border-radius: var(--rounded-border);
}

ion-item ion-icon, ion-button ion-icon{
    padding-right: 15px;
}

/*----------------- Placeholder Image -----------------*/
.placeholder-img{
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1688494930098-e88c53c26e3a?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center center;
    background-size: cover;
}
